#iataFormField {
  width:50px !important;
}

#nameFormField, #cityFormField {
  width:458px !important;
}

#countryFormField, #regionFormField {
  width:430px !important;
}

.flagsList {
  margin-right: 5px;

  img {
    height: 14px;
    width: 18.66px;
  }
}

#flagAirportCountrySelected, #flagAirportRegionSelected {
  margin-right: 10px;
}

#flagAirportRegionSelected {
  width:430px !important;

  img {
    height: 14px;
    width: 18.66px;
  }
}
